body{
  background-color: black;
  text-align: center;
}

.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    display: inline-flex;
    justify-content: space-around;
    margin: 25px auto;

}